@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');

p {
    font-family: 'Amiko', sans-serif;
}

.kristiFont {
    font-family: 'Kristi', cursive;
    letter-spacing: 0.3em;
}

.kristiFont2 {
    font-family: 'Kristi', cursive;
    letter-spacing: 0.1em;
}

.montFont {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.3em;
}
.amikoFont {
    font-family: 'Amiko', sans-serif;
}